@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pompiere&display=swap');

/* Base styles */
body {
    margin: 0;
    padding: 0;
    background-color: #FAE5BE;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

* {
    user-select: none;
    -webkit-user-drag: none;
}

html,
body {
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

input,
textarea {
    outline: none!important;
    background-color: #e1e0e0;
    border: none;
    border-radius: 8px;
    padding: .2em .4em;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 200px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav .blobLog {
    position: relative;
    width: 300px;
}

nav .blobLog img:nth-child(1),
nav .blobLog img:nth-child(2) {
    display: block;
    height: 895px;
    position: absolute;
    z-index: 0;
    left: -441px;
    top: -472px;
}

nav .blobLog img:nth-child(1) {
    z-index: 1;
    height: 870px;
}

nav .blobLog img:nth-child(3) {
    width: 150px;
    left: 1rem;
    top: 1rem;
    position: absolute;
    z-index: 2;
}

.items {
    position: relative;
    width: 60vw;
}

.items img:nth-child(1) {
    position: absolute;
    width: 1539px;
    top: -43vh;
    transform: rotate3d(8, -102, 8, 168deg);
    height: 859px;
}

.items img:nth-child(2) {
    position: absolute;
    width: 155px;
    right: 0;
    top: 5rem;
}

.items ul {
    position: absolute;
    right: 10px;
    top: 1rem;
    display: flex;
    justify-content: right;
    gap: 50px;
    z-index: 20;
}

ul>li {
    display: inline-block;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

#Conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 9;
}

#Conteudo .intro {  
    margin: auto;
    text-align: center;
    margin-top: 120px;
}

#Conteudo h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

#Conteudo h3 {
    margin: 0;
}

.ufo {
    position: absolute;
    z-index: 3;
    width: 180px;
    -webkit-filter: drop-shadow(2px 2px 8px #000);
    filter: drop-shadow(2px 2px 10px #2b2b2b);
}

#mascote1 {
    right: 0;
    top: 20vh;
}

#mascote4 {
    right: 70px;
    top: 60vh;
}

#mascote2 {
    left: 20px;
    top: 80vh;
}

#mascote5 {
    left: 30px;
    top: 35vh;
}

#mascote3 {
    right: 30px;
    top: 95vh;
}

footer {
    background: #000;
    color: #fff;
    margin-bottom: 0;
    font-family: "Pompiere";
    height: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

footer p {
    margin: 0;
}

@media only screen and (max-width: 1280px) {
    #Conteudo .intro{
        display:none;
    }
    html {
        font-size: 10px;

    }
    .items ul {
        position:inherit;
        font-size: 2rem;
    }
    ul>li {
        font-size: 2rem;
    }

    nav .blobLog img:nth-child(3){
        position: relative;
    }

    nav {
        align-items: center;
    }

}


@media only screen and (max-width: 1068px) {
    .items {
        width: 80vw;
    }

    .items img {
        display: none;
    }
    nav .blobLog img:nth-child(1),
    nav .blobLog img:nth-child(2) {
        display: none;
    }
    .items ul {
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 20px; 
    }
    
    ul>li {
        margin-bottom: 10px; 
        font-size: 2rem;
    }
    
    #Conteudo h2 {
        font-size: 2rem;
    }

    #Conteudo h1 {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 576px) {
    .items {
        width: 90vw;
    }
    html {
        font-size: 10px;

    }

}
